body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 4vh;
    overflow: hidden;
    background: url('../img/Background.png') no-repeat center center fixed;
    /*background-image: url('../img/roundgreen.png'), url('../img/background.png');*/
    background-blend-mode: soft-light;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
    color: white;
}

/*body:after {
    content: "";
    display: block;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: url('../img/background.png') no-repeat center center fixed;
    background-blend-mode: soft-light;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

#background {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    #background: url('../img/background.png') no-repeat center center fixed contain, url('../img/backgroundgreen.png') no-repeat center center fixed cover;
    #background-blend-mode: soft-light;
    #-webkit-background-size: contain;
    #-moz-background-size: contain;
    #-o-background-size: contain;
    #background-size: contain;
}*/

.row {
    position:relative;
    display: block;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.left {
    display: inline-block;
    width: 10%;
    text-align: right;
    padding-right: 2%;
}

.right {
    display: inline-block;
    width: 80%;
    padding-left:2%;
    text-transform: uppercase;
}

.borderline {
    position:absolute;
    left:12%;
    top:0;
    width: 1px;
    height: 100%;
    background-color: white;
}

.datediv {
    display: inline-block;
    margin-bottom:3%;
    margin-top:1%;
    margin-left:2%;
}

.date {
    display: block;
    font-size: 0.5em;
}

.time {
    display: inline-block;
    font-size: 2.5em;
    padding-left: 10%;
    margin: auto;
    font-weight: bold;
}

.day {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top:0;
    font-weight: bold;
    line-height: 1em;
}

.end {
    font-size:0.6em;
}

.bold {
    font-weight:600;
}

.running {
    font-style: italic;
}

#legende {
	margin:0 auto;
	width:100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
	z-index:10;
}

#legende .element img{
	/*max-width: 50px;*/
	max-height: 37px;
	margin: 3px;
	position: relative;
}

/* Animations */

/*.eventsblock {
    -webkit-animation: bounceInLeft 2s;
    animation: bounceInLeft 2s;
}*/

.datediv {
    -webkit-animation: fadeInLeft 2s;
    animation: fadeInLeft 2s;
}

.time {
    -webkit-animation: fadeInDown 2s;
    animation: fadeInDown 2s;
}

body {
	margin-top:25px;
}
