body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 3.5vh;
    overflow: hidden;
}

* {
    color: white;
}

.row {
    position:relative;
    display: inline-block;
    margin: 0.5% 0 0.5% 3.5%;
    padding: 0.25% 0.5%;
}

.left {
    display: inline-block;
    width: 10%;
    text-align: right;
    padding-right: 2%;
}

.right {
    display: inline-block;
    width: 80%;
    padding-left:2%;
    text-transform: uppercase;
}

.borderline {
    position:absolute;
    left:12%;
    top:0;
    width: 1px;
    height: 100%;
    background-color: white;
}

.datediv {
    display: inline-block;
    margin-bottom:1%;
    margin-top:1%;
    margin-left:4%;
}

.heading {
    margin-top: 1vh;
    font-size: 8vh;
    line-height: 8vh;
}
.heading>b {
    font-weight:900;
}

.date {
    display: block;
    font-size: 0.5em;
}

.time {
    display: inline-block;
    font-size: 2.5em;
    padding-left: 10%;
    margin: auto;
    font-weight: bold;
}

.day {
    display: block;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top:0;
    font-weight: bold;
    line-height: 1em;
}

.end {
    font-size:0.6em;
}

.bold {
    font-weight:600;
}

.running {
    background-color: #e84427;
}

#legende {
	margin:0 auto;
	width:100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background: white;
	z-index:10;
}

#legende .element img{
	/*max-width: 50px;*/
	max-height: 37px;
	margin: 3px;
	position: relative;
}

/* Animations */

/*.eventsblock {
    -webkit-animation: bounceInLeft 2s;
    animation: bounceInLeft 2s;
}*/

.datediv {
    -webkit-animation: fadeInLeft 2s;
    animation: fadeInLeft 2s;
}

.time {
    -webkit-animation: fadeInDown 2s;
    animation: fadeInDown 2s;
}

body {
	margin-top:25px;
}

.nomargins {
    margin:0;
    padding:0;
}